<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452556322053-qgm745uuus5usad14oiupo5c60hl2ipo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452556322053-qgm745uuus5usad14oiupo5c60hl2ipo</string>
	<key>API_KEY</key>
	<string>AIzaSyCXStQ4C2CgzhdmSto1uffRjY0W238uaJY</string>
	<key>GCM_SENDER_ID</key>
	<string>452556322053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.versiononestudio.UberCloneTT</string>
	<key>PROJECT_ID</key>
	<string>uberclonett</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclonett.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452556322053:ios:a522d16d52b9eb7128f36c</string>
	<key>DATABASE_URL</key>
	<string>https://uberclonett.firebaseio.com</string>
</dict>
</plist>